
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #03060c;
    font-weight: 400;
    line-height: 26px;
  }
  a {
    text-decoration: underline rgb(230, 177, 177);
    
    color:#fff;
  }
  h1  {
    color:  rgba(48, 7, 94, 0.733);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
  }
  .taskBox {
    background-color: rgba(125, 33, 231, 0.733);
    width: 30%;
    margin: 0 auto;
    
    
  }
  .taskBox > ul {
      padding: 10;
      margin: 80;
      list-style-type: none;
      text-align: center;
  }
  .taskBox > ul > li {
      padding-bottom: 10px;
      padding-top: 10px;
  }